<h1>Welcome to Anagrams!</h1>

<form action="/new_word" method="post">
    Write a word:
    <br>
    <input type="text" name="user_word">
    <input type="submit" value="All Anagrams">
  </form>

<!-- Aquí deberá ir la forma de HTML -->


